@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root{
    height: 100%;
}

@layer components {
    body {
      @apply bg-dark text-white
    }
  }

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: #555;
  border-radius: 20px;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}